@import "../../../assets/collors/colors.scss";

.main-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem;

  .main-section {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(43, 122, 120, 0.4) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(43, 122, 120, 0.4) inset;
    box-shadow: 0px 5px 10px 2px rgba(43, 122, 120, 0.4) inset;
    position: relative;

    th {
      background-color: $secondary-color;
      color: $font-primary;
    }

    .product-table-container {
      overflow: auto;
      .product-table {
        width: 100%;
        th {
          text-align: left;
        }

        .mat-row .mat-cell {
          border-bottom: 1px solid transparent;
          border-top: 1px solid transparent;
          cursor: pointer;
        }

        .mat-row:hover .mat-cell {
          border-color: currentColor;
        }

        .selected-row {
          font-weight: bold;
        }
      }
    }
    .selected-table {
      .selected-table__cell,
      .selected-table__header {
        width: 100%;
        padding: 30px;
        text-align: left;
        height: 5rem;
      }
    }

    .btn-right {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0 10px 15px 0px;
    }
  }
}

.button {
  background-color: $secondary-color;
  border: none;
  color: $font-secondary;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.full-height {
  height: 50vh;
}
